form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 40px 0 50px;
}

input[type="text"] {
  font-family: inherit;
  color: hotpink;
  box-sizing: border-box;
  background: none;
  border: none;
  border-bottom: solid grey;
  text-transform: uppercase;
}

.large > input[type="text"] {
  height: 35px;
  font-size: 20px;
  width: 370px;
}

.large > button[type="submit"] {
  font-size: 20px;
}

button[type="submit"] {
  font-family: inherit;
  color: turquoise;
  border: none;
  background: none;
  text-transform: uppercase;
}

button[type="submit"]:hover {
  color: white;
}

button[type="submit"]:active {
  color: white;
  padding-top: 5px;
}
