.App {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: 150px;
  font-family: "Press Start 2P", cursive;
  background: black;
}

main {
  width: 770px;
}

.App-header {
  color: orange;
  text-shadow: 4px 4px red;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
}

.player-list {
  padding: 0;
  list-style-type: none;
}
